.zoom-gallery img {
    max-width: 33%;
    width: 100%
}

.container-gallery {
    padding-top: 100px;
    overflow-y: scroll;
    height: 100%;
}

.freeze-background {
    position: fixed;
    width: 100%;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 5px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}


/* 992 */

@media only screen and (max-width: 992px) {
    .zoom-gallery img {
        max-width: 49.5%;
        width: 100%
    }
}


/* 768 */

@media only screen and (max-width: 768px) {
    .zoom-gallery img {
        max-width: 100%;
        width: 100%
    }
}