/*
  Theme Name: NewBiz
  Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
    font-family: 'Arcon';
    src: url(../fonts/Arcon-Regular.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Opens Sans';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url(../fonts/OpenSans-Light.ttf);
    font-weight: 200;
    font-style: normal;
}

:root {
    --rtwpvg-thumbnail-gap: 15px;
}

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins:300,400,500,600,700,800,900|Rubik:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: #fff;
    color: #444;
    /* font-family: "Noto Sans JP", sans-serif; */
    font-family: 'Open Sans';
    font-weight: 500;
}

a {
    color: #007bff;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #0b6bd3;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3 {
    /* font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400; */
    font-family: 'Arcon';
    /* font-weight: 200; */
    margin: 0 0 20px 0;
    padding: 0;
    font-weight: 200;
}

h4,
h5,
h6 {
    font-family: 'Open Sans';
    margin: 0 0 20px 0;
    padding: 0;
}

#nosotros h1,
#nosotros h2,
#nosotros h3,
#nosotros h4,
#nosotros h5,
#nosotros h6 {
    font-family: 'Arcon';
    /*  font-weight: 400; */
    margin: 0 0 20px 0;
    padding: 0;
}

.products-header {
    color: #028436;
}


/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #007bff;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}


/* Prelaoder */


/* 
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #007bff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} */


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header .container {
    max-width: 1224px;
    min-width: 1024px;
}

#header.header-scrolled,
#header.header-pages {
    height: 75px;
    padding: 20px 0;
}

#header .logo {
    /* margin: -10px 0px; */
    max-width: 20%;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #00366f;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    /* margin: 7px 0; */
    max-height: 65px;
}

#header .logo img.img-fluid {
    max-width: 100%;
}

#header .social-links {}

#header .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #ce192b;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: none;
}

#header .social-links a:hover {
    background-color: transparent;
    color: #64ce19;
}

.main-pages {
    margin-top: 60px;
}


/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    width: 100%;
    position: relative;
    background: url("../img/intro-bg.png") center bottom no-repeat;
    background-size: cover;
    padding: 200px 0 120px 0;
}

#intro .intro-img {
    width: 50%;
    float: right;
}

#intro .intro-info {
    width: 50%;
    float: left;
}

#intro .intro-info h2 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h2 span {
    color: #74b5fc;
    text-decoration: underline;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 0 20px 20px 0;
    color: #fff;
}

#intro .intro-info .btn-get-started {
    background: #007bff;
    border: 2px solid #007bff;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover {
    background: none;
    border-color: #fff;
    color: #fff;
}

#intro .intro-info .btn-services {
    border: 2px solid #fff;
}

#intro .intro-info .btn-services:hover {
    background: #007bff;
    border-color: #007bff;
    color: #fff;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.main-nav {
    /* Drop Down */
    /* Deep Drop Down */
}

.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.main-nav a {
    display: block;
    position: relative;
    color: #028436;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
    color: #DA2A35;
    text-decoration: none;
}

.main-nav .drop-down ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.main-nav .drop-down:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.main-nav .drop-down li {
    min-width: 180px;
    position: relative;
}

.main-nav .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
    color: #007bff;
}

.main-nav .drop-down>a:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.main-nav .drop-down .drop-down>a {
    padding-right: 35px;
}

.main-nav .drop-down .drop-down>a:after {
    content: "\f105";
    position: absolute;
    right: 15px;
}


/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    /* background: rgba(19, 57, 25, 0.8); */
    background: rgba(221, 59, 59, 0.97);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #220101;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\f077";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #dc2d32;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}

.mobile-nav .social-links a {
    font-size: 1.2rem;
    display: inline-block;
    color: #000;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: none;
}

.mobile-nav .social-links a:hover {
    background-color: transparent;
    color: #2f0505;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/


/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%;
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #ecf5ff;
}


/* About Us Section
--------------------------------*/

#about {
    background: #fff;
    padding: 60px 0;
}

#about .about-container .background {
    margin: 20px 0;
}

#about .about-container .content {
    background: #fff;
}

#about .about-container .title {
    color: #333;
    font-weight: 700;
    font-size: 32px;
}

#about .about-container p {
    line-height: 26px;
}

#about .about-container p:last-child {
    margin-bottom: 0;
}

#about .about-container .icon-box {
    background: #fff;
    background-size: cover;
    padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
    float: left;
    background: #fff;
    width: 64px;
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
    color: #007bff;
    font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
    background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
    color: #fff;
}

#about .about-container .icon-box .title {
    margin-left: 80px;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
}

#about .about-container .icon-box .title a {
    color: #283d50;
}

#about .about-container .icon-box .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}

#about .about-extra {
    padding-top: 60px;
}

#about .about-extra h4 {
    font-weight: 600;
    font-size: 24px;
}


/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
}

#services .box:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

#services .icon {
    position: absolute;
    left: -10px;
    top: calc(50% - 32px);
}

#services .icon i {
    font-size: 64px;
    line-height: 1;
    transition: 0.5s;
}

#services .title {
    margin-left: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #007bff;
}

#services .description {
    font-size: 14px;
    margin-left: 40px;
    line-height: 24px;
    margin-bottom: 0;
}

#why-us {
    padding: 60px 0;
    background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
    color: #fff;
}

#why-us .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

#why-us .card:hover {
    background: #003b7a;
    border-color: #003b7a;
}

#why-us .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
}

#why-us .card h5 {
    font-size: 22px;
    font-weight: 600;
}

#why-us .card p {
    font-size: 15px;
    color: #d8eafe;
}

#why-us .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
    border-bottom: #fff solid 2px;
}

#why-us .counters {
    padding-top: 40px;
}

#why-us .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
}

#why-us .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}


/* Portfolio Section
--------------------------------*/

#portfolio {
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
    text-align: center;
}

#portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #007bff;
    border-radius: 50px;
    text-transform: uppercase;
    background: #ecf5ff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
    background: #007bff;
    color: #fff;
}

#portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}

#portfolio .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
    overflow: hidden;
    position: relative;
    border-radius: 6px;
    margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
    opacity: 0.4;
    transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
    font-size: 22px;
    line-height: 1px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
    color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
    padding: 0;
    margin: 0;
    color: #e2effe;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
    display: inline-block;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #007bff;
    border-radius: 50%;
    margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
    background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
    color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
    background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
}


/* Testimonials Section
--------------------------------*/

#testimonials {
    padding: 60px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimonials .section-header {
    margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    float: left;
}

#testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
    margin-left: 140px;
}

#testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    margin-left: 140px;
}

#testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#testimonials .owl-dot.active {
    background-color: #007bff;
}


/* Team Section
--------------------------------*/

#team {
    background: #fff;
    padding: 60px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

#team .member .member-info {
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

#team .member .member-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}

#team .member:hover .member-info {
    background: rgba(0, 62, 128, 0.7);
    opacity: 1;
    transition: 0.4s;
}

#team .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    transition: none;
    color: #fff;
}

#team .member .social a:hover {
    color: #007bff;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}


/* Clients Section
--------------------------------*/

#clients {
    padding: 60px 0;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients .client-logo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

#clients img {
    transition: all 0.4s ease-in-out;
}


/* Nosotros Section
--------------------------------*/

#nosotros {
    margin-top: 80px
}

#nosotros {
    /* background: url(../img/fondo-mancha.png);
    background-repeat: repeat;
    background-size: 1700px;
    background-position: bottom right; */
}

#nosotros .row {
    justify-content: center;
}

#nosotros .row .logo-nosotros {
    max-width: 150px;
}

#nosotros .info {
    /* max-width: 900px; */
    margin: 0 auto;
}

#nosotros #empresa-row .f1-n {
    background-image: url(../img/fondos/fondo-d-verde-invertido.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#nosotros #empresa-row .f1-n>div {
    padding: 20px 20px 0px 200px;
}

#nosotros #vision-row .f2-n {
    background-image: url(../img/fondos/fondo-d-rojo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#nosotros #vision-row .f2-n>div {
    padding: 0px 200px 0px 20px;
}

#nosotros #mision-row .f3-n {
    background-image: url(../img/fondos/fondo-d-azul-inv.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: -10px;
    background-position-y: -10px;
}

#nosotros #mision-row .f3-n>div {
    padding: 0px 20px 0px 200px;
}

#nosotros #pcalidad-row .f4-n {
    background-image: url(../img/fondos/fondo-d-amarillo-rojo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#nosotros #pcalidad-row .f4-n>div {
    padding: 0px 200px 0px 20px;
}

@media (max-width: 745px) {
    #nosotros #empresa-row .f1-n {
        background-image: url(../img/fondos/fondo-d-verde-invertido.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: -50px;
    }
    #nosotros #empresa-row .f1-n>div {
        padding: 0px 10px 0px 120px;
    }
    #nosotros #empresa-row .f1-n>div p {
        font-size: 0.68rem;
    }
    #nosotros #vision-row .f2-n {
        background-image: url(../img/fondos/fondo-d-rojo.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    #nosotros #vision-row .f2-n>div {
        padding: 0px 120px 0px 10px;
    }
    #nosotros #vision-row .f2-n>div p {
        font-size: 0.68rem;
    }
    #nosotros #mision-row .f3-n {
        background-image: url(../img/fondos/fondo-d-azul-inv.png);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: -10px;
    }
    #nosotros #mision-row .f3-n>div {
        padding: 0px 10px 0px 120px;
    }
    #nosotros #mision-row .f3-n>div p {
        font-size: 0.68rem;
    }
    #nosotros #pcalidad-row .f4-n {
        background-image: url(../img/fondos/fondo-d-amarillo-rojo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 120%;
    }
    #nosotros #pcalidad-row .f4-n>div {
        padding: 0px 120px 0px 10px;
    }
    #nosotros #pcalidad-row .f4-n>div p {
        font-size: 0.68rem;
    }
    .inicio-principal .slider-title{
        margin: 2rem 0px 1rem !important;
    }
    .inicio-principal .slider-title .text-center header h2{
        font-size: 1.5rem !important;
    }
    .slider ul.lightSlider li .box{
        width: 40vw !important;
    }
    #productos nav#menu-pro, .productos-catalogo .containerd{
        display: none;
    }
}


/* Contact Section
--------------------------------*/

#contact,
#faq{
    margin-top: 40px;
    padding: 60px 0;
}
#videos {
    margin-top: 50px;
    padding: 60px 0;
}
#videos .section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
#noticias .section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
#contact .section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
#faq .section-header h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

#faq .accordion-p{
    min-height: 180px;
}
#contact {
    margin-top: 40px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
    overflow: hidden;
}

#contact .section-header {
    padding-bottom: 30px;
}

#contact .contact-about h3 {
    font-size: 36px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #007bff;
}

#contact .contact-about p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #888;
}

#contact .social-links {
    padding-bottom: 20px;
}

#contact .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #007bff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid #007bff;
}

#contact .social-links a:hover {
    background: #007bff;
    color: #fff;
}

#contact .info {
    color: #283d50;
}

#contact .info i {
    font-size: 32px;
    color: #009034;
    float: left;
    line-height: 1;
}

#contact .info p {
    padding: 0 0 10px 36px;
    line-height: 28px;
    font-size: 14px;
}

#contact .form #sendmessage {
    color: #007bff;
    border: 1px solid #007bff;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

#contact .form button[type="submit"] {
    background: #ce192b;
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
    background: #b30516;
    cursor: pointer;
}


/* 
Noticias

 */

#noticias {
    padding: 5rem 0px 50px;
    background-image: url(../img/fondos/fondo-mancha-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #009034;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #ce192b;
}

#footer .footer-info img {
    width: 12rem;
}

#footer .footer-top {
    background: #009034;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Noto Sans JP", sans-serif;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Noto Sans JP", sans-serif;
    color: #ecf5ff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #009034;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #ce192b;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #74b5fc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #028436;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #ce192b;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #f1f7ff;
}

#footer .credits a {
    color: #bfddfe;
}

#footer .credits a:hover {
    color: #f1f7ff;
}


/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
    #productos.container {
        max-width: 95vw;
    }
    #header .container {
        max-width: 95vw;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #header .logo img.img-fluid {
        max-width: 12vw;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    #testimonials .testimonial-item p {
        width: 80%;
    }
    #productos.container {
        max-width: 95vw;
    }
    #header .container {
        max-width: 95vw;
    }
    #header .logo img.img-fluid {
        max-width: 18vw;
    }
}

@media (min-width: 1601px) {
    #header .logo img.img-fluid {
        max-width: 14vw;
    }
}

@media (max-width: 991px) {
    #header {
        height: 60px;
        padding: 10px 0;
    }
    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }
    #intro {
        padding: 140px 0 60px 0;
    }
    #intro .intro-img {
        width: 80%;
        float: none;
        margin: 0 auto 25px auto;
    }
    #intro .intro-info {
        width: 80%;
        float: none;
        margin: auto;
        text-align: center;
    }
    #why-us .card {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

@media (max-width: 767px) {
    #intro .intro-info {
        width: 100%;
    }
    #intro .intro-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .section-header p {
        width: 100%;
    }
    #testimonials .testimonial-item {
        text-align: center;
    }
    #testimonials .testimonial-item .testimonial-img {
        float: none;
        margin: auto;
    }
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
        margin-left: 0;
    }
}

@media (max-width: 574px) {
    #intro {
        padding: 100px 0 20px 0;
    }
}

#products {
    margin: 80px 0px;
}

.global-page-container {
    width: 100%;
    display: inline-block;
    margin: auto;
    height: 100%;
    text-align: center;
}

.watch-slider {
    padding: 10px 0 60px 0;
    overflow: hidden;
}

.watch-slider .slide {
    transform: scale(0.6);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    outline: none !important;
}

.watch-slider .slide.slick-center {
    transform: scale(1);
}

.arrow {
    display: inline-block;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: center;
    cursor: pointer;
    vertical-align: middle;
}

#arrow-prev {
    background-image: url('../img/arrow_prev.svg');
}

#arrow-next {
    background-image: url('../img/arrow_next.svg');
}

.description {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 200px;
    vertical-align: middle;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#watch-price {
    color: #DA2A35;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-size: 28px;
}


/* **********************************************************************************************
***********************************   MEDIA QUERIES   ******************************************* 
********************************************************************************************** */


/* Small Screens *****************************************************************************/

@media only screen and (max-width: 640px) {}


/* End of small Screens*/


/* Medium Screens ****************************************************************************/

@media only screen and (min-width: 641px) and (max-width: 1023px) {
    .watch-slider .slide {
        width: 33%;
    }
}


/* End of Medium Screens*/


/* Large Screens *****************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
    .global-page-container {
        width: 1140px;
    }
}


/*   End of Large Screens*/


/* Extra Large Screens ***********************************************************************/

@media only screen and (min-width: 1441px) {
    .global-page-container {
        width: 1440px;
    }
}

.section-nws {
    padding: 2rem 0;
    position: relative;
}

.gray-bg {
    background-color: #fafafa;
}


/* Galería 
---------------------*/

.blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.blog-grid .blog-img .date {
    position: absolute;
    background: #3a3973;
    color: #ffffff;
    padding: 8px 15px;
    left: 0;
    top: 10px;
    font-size: 14px;
}

.blog-grid .blog-info {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    margin: -10px 20px 0;
    position: relative;
}

.blog-grid .blog-info h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px;
}

.blog-grid .blog-info h5 a {
    color: #3a3973;
}

.blog-grid .blog-info p {
    margin: 0;
}

.blog-grid .blog-info .btn-bar {
    margin-top: 20px;
}

.px-btn-arrow {
    padding: 0 50px 0 0;
    line-height: 20px;
    position: relative;
    display: inline-block;
    color: #fe4f6c;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    transition: ease all 0.3s;
}

.px-btn-arrow .arrow {
    width: 13px;
    height: 2px;
    background: currentColor;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 25px;
    -moz-transition: ease right 0.3s;
    -o-transition: ease right 0.3s;
    -webkit-transition: ease right 0.3s;
    transition: ease right 0.3s;
}

.px-btn-arrow .arrow:after {
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
    content: "";
    position: absolute;
    top: -3px;
    right: 0;
    display: inline-block;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* #faq .accordion-m .card:before {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-left: 3px double green;
    border-right: 3px double red;
    content: " ";
}

#faq .accordion-m .card:after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-left: 3px double red;
    border-right: 3px double green;
    content: " ";
}

#faq .accordion-m .card:before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-top: 3px double green;
    border-bottom: 3px double red;
    content: " ";
}

#faq .accordion-m .card:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    border-top: 3px double red;
    border-bottom: 3px double green;
    content: " ";
}

#faq .accordion-m .card:hover::before {
    transition: all 0.5s ease-in-out;
}

#faq .accordion-m .card:hover::after {
    transition: all 0.5s ease-in-out;
} */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 0;
}

.accordion .card {
    margin-bottom: .75rem;
    box-shadow: 0px 1px 15px 1px rgba(230, 234, 236, 0.35);
    border-radius: .25rem;
}

.accordion .card .card-header {
    background-color: transparent;
    border: none;
    padding: 1.6rem;
}

.grid-margin {
    margin-bottom: 0.625rem;
}

.accordion .card .card-header a[aria-expanded="true"]:before {
    content: "\F374";
    /* content: "\fcb7"; */
    z-index: 10;
}

.accordion .card .card-header a:before {
    font-family: "Material Design Icons";
    position: absolute;
    right: 7px;
    top: 0;
    font-size: 18px;
    display: block;
}

.accordion .card .card-header a[aria-expanded="false"]:before {
    content: "\F415";
    /* content: "\fcbd"; */
    z-index: 10;
}

.preloaderBg {
    position: fixed;
    z-index: 10000;
    top: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preloader {
    margin: auto;
    background: url("../img/Hombresito-pega.png") no-repeat 50% 50%;
    background-size: 300px;
    width: 700px;
    height: 700px;
    animation: bgtocolor 5s ease-in-out infinite;
    animation-duration: 5s;
}

.preloader2 {
    /* border: 5px solid #f3f3f3;
    border-top: 5px solid #f00;
    border-radius: 50%;
    width: 30vw;
    height: 45vh; */
    /* animation-duration: 3s;
    position: relative;
    margin: 0 auto;
    top: -50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    width: 500px;
    height: 500px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #f00;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top: 5px solid #f00;
    }
    20% {
        border-top: 5px solid #f00;
    }
    40% {
        border-top: 5px solid #009034;
    }
    60% {
        border-top: 5px solid #009034;
    }
    80% {
        border-top: 5px solid #f00;
    }
    100% {
        transform: rotate(360deg);
        border-top: 5px solid #f00;
    }
}

@keyframes bgtocolor {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.6;
    }
    60% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 745px) {
    .preloader {
        margin: 0 auto;
        background: url("../img/Hombresito-pega.png") no-repeat 22% 50%;
        background-size: 200px;
        width: 600px;
        height: 600px;
        animation-duration: 5s;
    }
    .preloader2 {
        width: 300px;
        height: 300px;
    }
}


/* #productos.container {
    max-width: 1340px;
    padding: 0px 20px;
} */

#productos,
#producto {
    padding: 80px 0px 0px !important;
}
#producto .sec-titulo-product{
    height: 100% !important;
    display:flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
#producto.pegamento-k .sec-titulo-product{
    height: 100% !important;
    display:flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 80px;
}
#producto.plastilina-k .sec-titulo-product{
    height: 100% !important;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 20px;
    justify-content: inherit;
}


#producto .sec-titulo-product h3 {
    font-size: 2rem;
}

#producto .sec-titulo-product h5 {
    font-size: 1.5rem;
}

#producto .sec-titulo-product p {
    font-size: 1.2rem !important;
}

#producto .sec-titulo-product p+span {
    font-size: 1rem !important;
}
#producto .product-detail .pro-info p{
    font-size: 1rem !important;
    opacity: 1;
}
#producto .product-detail .pro-info p+span {
    font-size: 1rem !important;
    opacity: 1;
}

#productos .title-product-c b {
    color: #222;
    text-decoration: none;
}

#productos h5 {
    font-size: 0.95rem;
}

#productos .sidebar .row {
    padding: 20px 0px;
}

#productos .container-products .row {
    padding: 10px 0px;
}

#productos .card-body {
    padding: 0px;
}

#productos .card {
    border: none;
    box-shadow: none;
}

#productos .card .card-header {
    background-color: transparent;
    border: none;
    padding: 5px;
}

#productos .card .card-header a[aria-expanded="true"]:before {
    content: "\fcbd";
    z-index: 10;
}

#productos .card .card-header a:before {
    font-family: "Material Design Icons";
    position: absolute;
    right: 7px;
    top: 5px;
    font-size: 18px;
    display: block;
}

#productos .card .card-header a[aria-expanded="false"]:before {
    content: "\fcb7";
    z-index: 10;
}

#productos .sidebar {
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding: 20px 5px;
}

#productos .productos-catalogo .btn {
    display: none;
}
#productos #menu-pro{
    
}

@media (max-width: 749px) {
    #productos .productos-catalogo .btn {
        display: block;
    }
    #productos #menu-pro {
        display: none;
        overflow-y: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    /* #productos .sidebar {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        padding: 0px;
    } */
    #producto.pegamento-k .sec-titulo-product{
        
        gap: 10px;
    }
    #productos .productos-catalogo{
        max-width: 100% !important;
        margin: 0px;
    }
    #header.header-scrolled, #header.header-pages {
        height: 65px;
        padding: 10px 0;
    }
    
}

.pr-ctg {
    display: inline-flex;
    justify-items: center;
    align-items: center;
}

.pr-ctg img {
    max-height: 100px;
    /* padding: 20px;
    border-radius: 50%;
    background: #07885b; */
}

.pr-ctg .title-product-c {
    margin-left: 5px;
}

.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: 100%;
    display: inline-block;
}

.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}

.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

a {
    text-decoration: none;
}

.box {
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 25px;
}

.slide-img {
    height: 450px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
}

.detail-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
}

.type {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.type a {
    color: #222222;
    margin: 5px 0px;
    font-weight: 600;
    letter-spacing: 0.5px;
    
    font-size: 1rem;
}

.type span {
    color: rgba(26, 26, 26, 0.5);
    font-weight: 300;
    font-size: 0.95rem;
}

.price {
    color: #333333;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: "Noto Sans JP", sans-serif;
    letter-spacing: 0.5px;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(64, 143, 54, 0.412);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #252525;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
}

.buy-btn:hover {
    color: #FFFFFF;
    background-color: #b81d1d;
    transition: all ease 0.3s;
}

.overlay {
    visibility: hidden;
}

.slide-img:hover .overlay {
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slider {
    width: 100%;
    /* height: 100vh; */
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.slider ul.lightSlider {
    height: 350px;
}

.slider ul.lightSlider li .box {
    width: 140px;
    margin: 15px;
    height: 320px;
}

.slider ul.lightSlider li .box .slide-img {
    height: 200px;
}

.slider ul.lightSlider li .box .detail-box a.price {
    display: none;
}

.slider_background {
    background: #eee;
}

.slide-caption {
    padding: 0;
    height: 76px;
    margin: 0;
    margin-top: 45%;
    width: auto;
}

.slide-caption .btn-primary {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 18px;
}

.slide-caption .btn-primary span {
    display: inline-block;
    vertical-align: middle;
}

.centerer {
    height: 100%;
    width: 0;
    display: inline-block;
    vertical-align: middle;
}

.slide-caption {
    color: #fff;
}

.slider-container {
    overflow: hidden;
}

.slide-caption .row,
.slide-caption .col-md-2 {
    height: 100%;
}

.slide-caption .slide-text {
    padding: 6px 45px;
}

.slider-container .slider-left,
.slider-container .slider-right {
    padding: 0;
    margin-bottom: -9999px;
    padding-bottom: 9986px;
}

.slider-right {
    padding: 15px;
    background: #09455c;
}

.slider-right h2 {
    font-weight: normal!important;
    font-family: "Museo-300", Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    margin: 15px;
    padding-left: 15px;
}

.slider-right ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider-right .arrow {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    line-height: normal;
    float: right;
    color: #346100;
    font-weight: 100;
    font-size: 14px;
}

.slide-title {
    margin-bottom: 3px;
    font-size: 20px;
    color: #fff;
}

.slider-right ul li a {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    padding: 20px 30px;
    background: #f6f5f6;
    text-transform: uppercase;
    font-size: 16px;
    color: #475055;
    margin-bottom: -1px;
}

.slider-right ul li a:hover {
    background: #1489b5;
    text-decoration: none;
    color: #fff;
}

.slider-right ul li a:hover .arrow {
    color: #fff;
}

.slider-right .glyphicon {
    display: inline-block;
}

.backstretch-item img {
    inset: 0px auto auto 0px !important;
    height: 90% !important;
    width: 100% !important;
}

#vision-row,
#mision-row,
#pcalidad-row,
#empresa-row {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background-color: #f2f0eb;
}

#vision-row img,
#pcalidad-row img {
    /*  padding: 25px;
    background-color: #dc3545;
    border-radius: 5px; */
}

#mision-row img {
    /* padding: 25px;
    background-color: #28a745;
    border-radius: 5px; */
}

#empresa-row .log-emp {
    background-color: #fff;
}

.info .row [class*=col-] {
    padding: 0px;
}

.info .row .text-center {
    padding: 10px 10px;
}

.info .row .text-center h1 {
    font-size: 3.8rem;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.card-wrapper img {
    width: 60px;
    display: block;
}

.img-display {
    overflow: hidden;
     min-width: 100%;
    margin: 0 auto;
    width: 80%;
}

.img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}

@media (min-width: 789px) {
    .img-display {
        overflow: hidden;
        /*  min-width: 300px; */
        margin: 0 auto;
        width: 100%;
    }
    .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }
}

.img-showcase img {
    min-width: 100%;
    max-height: 600px;
}

.img-select {
    position: relative;
    display: grid;
    grid-gap: var(--rtwpvg-thumbnail-gap);
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.product-content {
    padding: 2rem 1rem;
}

.product-title {
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}

.product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}

.product-link:hover {
    opacity: 0.9;
}

.product-rating {
    color: #ffc107;
}

.product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.product-detail button,
.product-detail input,
.product-detail optgroup,
.product-detail select,
.product-detail textarea,
.product-detail select option {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
}

.product-detail h2 {
    font-family: 'Open Sans';
    
    
    /* text-transform: capitalize; */
    color: #404040;
    padding-bottom: 0.6rem;
    text-decoration: underline;
    font-weight: 600;
}
.product-detail {
    text-align: center;
    margin-top: 10px;
}
.product-detail .form-group {
    text-align: start;
}
.product-detail .form-group h5 {
    text-align: start;
    font-size: 1.2rem;
    margin-top: 10px;
}
.product-detail .form-group h5,
.product-detail .form-group h1,
.product-detail .form-group h2,
.product-detail .form-group h3,
.product-detail .form-group h4{
    margin: 0px;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail ul {
    padding: 0px;
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(../img/checked-w.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 400;
    opacity: 0.9;
    display: inline-block;
    font-size: 1.2rem;
}

.product-detail ul li span {
    font-weight: 400;
}
.product-content .p-social .social-links{
    align-items: initial;
}

.purchase-info {
    margin: 0.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}

.purchase-info input {
    width: 60px;
}

.purchase-info .btn {
    cursor: pointer;
    color: #fff;
}

.purchase-info .btn:first-of-type {
    background: #256eff;
}

.purchase-info .btn:last-of-type {
    background: #f64749;
}

.purchase-info .btn:hover {
    opacity: 0.9;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}


/* @media screen and (min-width: 992px) { */

.card-wrapper .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    border: none;
    background-color: #f2f2f2;
}

.card-wrapper {
    display: flex;
    max-height: 100vh;
    overflow-y: scroll;
}

.product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}

.product-content {
    padding-top: 0;
}

.n-producto {
    /* background-color: #f2f2f2; */
}

.scrolleable {
    max-height: 100vh;
    background-color: #f2f2f2;
}

#propuesta .row .scrolleable {
    max-height: 100vh;
    background-color: #ffffff;
}

#propuesta .row .card-wrapper .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    border: none;
    background-color: #ffffff;
}

.instructions img {
    width: 100%;
}


/* .menu-pro {
    flex-basis: 180px;
} */

.cat-pro ul {
    list-style: none;
}

.wave-1 {
    background: url(../img/fondos/fondo-d-rojo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #fff;
    background-image: radial-gradient(circle, #009034 20%, transparent 10%), radial-gradient(circle, #009034 20%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-repeat: repeat; */
}

.wave-2 {
    background: url(../img/fondos/fondo-d-verde.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #fff;
    background-image: radial-gradient(circle, #ce192b 15%, transparent 10%), radial-gradient(circle, #ce192b 15%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-repeat: repeat; */
}

.wave-3 {
    background: url(../img/fondos/fondo-d-azul.svg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #fff;
    background-image: radial-gradient(circle, #ce192b 15%, transparent 10%), radial-gradient(circle, #ce192b 15%, transparent 10%);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    background-repeat: repeat; */
}

.wave-4 {
    background: url(../img/fondos/fondo-amarillo-rojo.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wave-5 {
    background: url(../img/fondos/fondo-d-azul-volteado.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* zoom en imagenes
 */

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}

.zoom-overlay {
    z-index: 420;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}


/* slider */


/* 3. slider */

@media (max-width: 349px) {
    .slider-height {
        min-height: 170px !important;
    }
    #producto .card-wrapper .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    #producto .card-wrapper .row .product-content {
        text-align: center;
        justify-content: center;
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    /* #producto .product-detail ul {
        text-align: initial;
    } */
}

@media (min-width: 350px) and (max-width: 568px) {
    .slider-height {
        min-height: 200px !important;
    }
    #producto .card-wrapper .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    #producto .card-wrapper .row .product-content {
        text-align: center;
        justify-content: center;
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    /* #producto .product-detail ul {
        text-align: initial;
    } */
}

@media (min-width: 569px) and (max-width: 767px) {
    .slider-height {
        min-height: 310px !important;
    }
    #producto .card-wrapper .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    #producto .card-wrapper .row .product-content {
        text-align: center;
        justify-content: center;
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    /* #producto .product-detail ul {
        text-align: initial;
    } */
}

@media (min-width: 768px) and (max-width: 985px) {
    .slider-height {
        min-height: 420px !important;
    }
}

@media (min-width: 986px) and (max-width: 1024px) {
    .slider-height {
        min-height: 530px !important;
    }
}

.slider-area {
    position: relative;
    top: 50px;
}

@media (min-width: 1025px) {
    .slider-height {
        min-height: 680px;
    }
    .slider-1-height {
        min-height: 930px;
    }
    .slider-2-height {
        min-height: 870px;
    }
}

.single-slider {
    background-size: cover;
    background-position: center center;
}

.slider-content>span {
    color: #32ea9133;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 38px;
    display: inline-block;
}

.slider-content h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 220px;
    color: #fff;
    letter-spacing: -.6px;
    font-weight: 400;
    margin-bottom: 0;
}

.slider-button {
    margin-top: 88px;
}

.slider-active button.slick-arrow {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    color: #222;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    cursor: pointer;
    background: #32ea9162;
}

@media (max-width: 767px) {
    .slider-active button.slick-arrow {
        height: 30px;
        width: 30px;
        font-size: 12px;
    }
    #producto .sec-titulo-product .l-inicio-1 img{
        width: 80vw !important;
    }
    #producto .sec-titulo-product .l-inicio img{
        width: 45vw !important;
    }
    #producto .sec-titulo-product .l-final img{
        width: 40vw !important;
    }
    #producto .scrolleable {
        max-height: 100%;
    }
    #producto .card-wrapper{
        overflow-y: hidden;
        max-height: 100%;
    }
}

@media (min-width: 768px) {
    .slider-active button.slick-arrow {
        font-size: 15px;
        height: 70px;
        width: 70px;
    }
    #producto .l-final-1 img{
        width: 250px !important;
    }
   /*  #producto .sec-titulo-product .textos-p{
        transform: translate(0%,10%);
    }
    #producto .sec-titulo-product .l-final{
        transform: translate(0%,100%);
    } */
    .inicio-principal .slider-title {
        margin: 6rem 0px 4rem;
    }
}

.slider-active button.slick-next {
    left: auto;
    right: 40px;
}

.slider-active:hover button {
    opacity: 1;
    visibility: visible;
}

.slider-active button:hover {
    background: #ae202077;
    color: #fff;
}

#contact iframe {
    max-width: 100%;
    width: 100%;
}

#videos .modal {
    z-index: 1100;
}

#videos .frame img {
    width: 100%;
}

#videos .row .frame {
    position: relative;
    padding: 5px;
}

#videos .row .frame:before {
    height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    border-left: 3px solid green;
    border-right: 3px solid red;
    content: " ";
}

#videos .row .frame:after {
    height: 30px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-left: 3px solid red;
    border-right: 3px solid green;
    content: " ";
}

#videos .row .frame>p {
    text-align: justify;
    margin: 0;
    padding: 0;
}

#videos .row .frame :first-child:before {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 40px;
    border-top: 3px solid green;
    border-bottom: 3px solid red;
    content: " ";
}

#videos .row .frame :first-child:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30px;
    border-top: 3px solid red;
    border-bottom: 3px solid green;
    content: " ";
}

#videos .row .frame :first-child:hover::before {
    width: 80px;
    transition: all 0.5s ease-in-out;
}

#videos .row .frame :first-child:hover::after {
    width: 50px;
    transition: all 0.5s ease-in-out;
}

#videos .row .frame .img-fluid:hover {
    cursor: pointer;
    opacity: 0.4;
}

#slider-principal .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
}

#slider-principal .slick-dots li {
    margin: 0 0.25rem;
}

#slider-principal .slick-dots button {
    display: block;
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: green;
    text-indent: -9999px;
}

#slider-principal .slick-dots li.slick-active button {
    background-color: red;
}


/* Nav de los productos
 */

#menu-products * {
    list-style: none;
}

#menu-products li {
    line-height: 180%;
}

#menu-products li a {
    color: #222;
    text-decoration: none;
}

#menu-products li a b {
    /* padding: 0px 10px; */
    max-width: 250px;
    /* display: block; */
}


/* #menu-products li a:before {
    content: "\025b8";
    color: #ddd;
    margin-right: 4px;
} */

#menu-products input[name="list"] {
    position: absolute;
    left: -1000em;
}


/* #menu-products label:before {
    content: "\025b8";
    margin-right: 4px;
} */

#menu-products input:checked~label:before {
    content: "\025be";
}

#menu-products .interior {
    display: none;
}

#menu-products input:checked~ul {
    display: block;
}

#av-privacidad {
    margin: 100px 0px;
}


/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

#noticias div.tagembed-container div.tagembed-socialwall iframe html body #root a.poweredBy div.poweredbywrapper {
    display: none !important;
}

#WAButton.floating-wpp {
    bottom: 15px;
    z-index: 50;
}

#WAButton.floating-wpp:hover {
    bottom: 20px;
}

#WAButton.floating-wpp .close {
    right: 0px;
    top: 0px;
}

.inicio-principal h2 {
    font-size: 2.5rem;
    font-weight: 500;
}


/* .whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 13px;
} */


/* End of Extra Large Screens*/


/* End of Extra Large Screens*/


/* End of Extra Large Screens*/